<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <XlWebsiteWeb.Metadata.tags
      route={Map.get(assigns, :route)}
      slug={Map.get(assigns, :slug)}
      name={Map.get(assigns, :name)}
    />
    <.live_title>
      <%= assigns[:page_title] || "Elixirland" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#f9f8ff] dark:bg-[#252525] antialiased min-h-[100vh] dark:text-white">
    <%= @inner_content %>
  </body>
</html>
