<.top_navigation path={["exercises", @slug]} github_source={@html_url} />
<h1 class="font-bold text-[3rem] mt-[0.5rem] -tracking-[1px]"><%= @name %></h1>
<div class="flex gap-2 mb-4">
  <div :for={topic <- @topics} class="text-sm bg-neutral-200 px-2 py-1 rounded-md">
    <%= topic %>
  </div>
</div>
<div data-markdown="exercise">
  <div class="max-w-[800px]">
    <%= raw(Earmark.as_html!(@readme)) %>
  </div>
</div>
