[data-markdown="project"] {
  h2 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 1.3rem;
    margin-bottom: 0.25rem;
    text-decoration: underline;
    text-decoration-color: #e2a3c73d;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.25rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 0.65rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 0.25rem;
    font-weight: 600;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

  ul {
    list-style-type: disc;
    margin-block: 0.75rem;
    font-size: 1.2rem;
  }
    
  li {
    font-size: 1.2rem;
    padding-left: 0.5rem;
    margin-left: 46px;

    @media (max-width: 500px) {
      margin-left: 16px;
    }
  }

  a {
    font-size: 1.2rem;
    color: #2879c5;
    &:hover {
      text-decoration: underline;
    }
  }

  code {
    background-color: #f3ebf6;
    padding: 0.3rem 0.55rem;
    border-radius: 0.2rem;
    font-size: 1.15rem;
  }

  hr {
    margin-bottom: 8px;
  }

  blockquote {
    padding: 1.25rem;
    background-color: #bda3e20b;
    margin-block: 30px;
    margin-inline: -2px;
    border-radius: 5px;
    border: 1px solid #bda3e21c;

    p {
      font-size: 1rem;
      margin: 0;
    }
  }
}

/* dark mode */
html.dark {
  [data-markdown="project"] {
    code {
      background-color: #585858;
    }
  }
}
