[data-markdown="project"] {
  font-size: 1.15rem;

  @media (max-width: 500px) {
    font-size: 1.05rem;
  }

  h2 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 1.3rem;
    margin-bottom: 0.25rem;
    text-decoration: underline;
    text-decoration-color: #e2a3c73d;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.25rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 0.65rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 1.1rem;
    margin-top: 0.25rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 0.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }

  ul {
    list-style-type: disc;
    margin-block: 0.75rem;
  }
    
  li {
    padding-left: 0.2rem;
    margin-left: 36px;

    @media (max-width: 500px) {
      margin-left: 16px;
    }
  }

  a {
    color: #2879c5;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    background-color: #f3ebf6;
    padding: 0.3rem 0.55rem;
    border-radius: 0.2rem;
  }

  hr {
    margin-bottom: 8px;
  }

  blockquote {
    position: relative;
    padding: 1.25rem;
    background-color: #bda3e20b;
    margin-block: 30px;
    margin-inline: -2px;
    border-radius: 5px;
    border: 1px solid #bda3e21c;

    p {
      margin: 0;
    }

    &:has([data-icon='note']) {
      background-color: rgba(39, 39, 150, 0.047);
      border-color: rgba(25, 25, 166, 0.359);

      &::after {
        content: 'Note';
        position: absolute;
        top: 0px;
        right: 8px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        font-weight: 600;
        color: rgba(25, 25, 166, 0.887);
        margin-top: 0.5rem;
      }
    } 

    &:has([data-icon='tip']) {
      background-color: rgba(63, 175, 63, 0.13);
      border-color: rgba(0, 128, 0, 0.507);

      &::after {
        content: 'Tip';
        position: absolute;
        top: 0px;
        right: 8px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        font-weight: 600;
        color: rgba(0, 128, 0, 0.91);
        margin-top: 0.5rem;
      }
    }

    &:has([data-icon='important']) {
      background-color: rgba(160, 39, 160, 0.042);
      border-color: rgba(98, 21, 98, 0.477);

      &::after {
        content: 'Important!';
        position: absolute;
        top: 0px;
        right: 8px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        font-weight: 600;
        color: rgba(98, 21, 98, 0.927);
        margin-top: 0.5rem;
      }
    }

    &:has([data-icon='warning']) {
      background-color: rgba(255, 191, 0, 0.117);
      border-color: rgba(191, 136, 25, 0.508);

      &::after {
        content: 'Warning!';
        position: absolute;
        top: 0px;
        right: 8px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        font-weight: 600;
        color: rgb(205, 145, 34);
        margin-top: 0.5rem;
      }
    }

    &:has([data-icon='caution']) {
      background-color: rgba(199, 0, 0, 0.069);
      border-color: rgba(212, 26, 26, 0.482);

      &::after {
        content: 'Caution!';
        position: absolute;
        top: 0px;
        right: 8px;
        font-size: 0.7rem;
        line-height: 0.7rem;
        font-weight: 600;
        color: rgba(173, 16, 16, 0.929);
        margin-top: 0.5rem;
      }
    }
  }
}

@media (max-width: 500px) {
  [data-markdown="project"] {
    font-size: 1.05rem;

    h2 {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

    h3 {
      font-size: 1.05rem;
    }

    h4 {
      font-size: 1.05rem;
    }
  }
}

/* dark mode */
html.dark {
  [data-markdown="project"] {
    code {
      background-color: #585858;
    }

    blockquote:has([data-icon='important']) {
      background-color: rgba(205, 16, 205, 0.072);
      border-color: rgba(198, 17, 198, 0.477);

      &::after {
        color: rgba(241, 16, 241, 0.927);
      }
    }

    blockquote:has([data-icon='note']) {
      background-color: rgba(10, 10, 113, 0.171);
      border-color: rgba(10, 10, 231, 0.884);

      &::after {
        color: rgba(0, 0, 255, 0.984);
      }
    } 
  }
}
