<div class="max-w-[1200px] m-auto p-7 pb-40">
  <div data-markdown="exercise">
    <div class="flex gap-2 mb-4">
      <div :for={topic <- @topics} class="bg-neutral-200 px-2 py-1 rounded-md"><%= topic %></div>
    </div>
    <.link href={@html_url}>View on GitHub</.link>
    <div class="max-w-[800px]">
      <%= raw(Earmark.as_html!(@readme)) %>
    </div>
  </div>
</div>
