<.flash_group flash={@flash} />
<section class="flex items-center justify-center h-[70vh] min-h-[400px]">
  <heading class="px-8">
    <h1
      class="pt-8 text-7xl text-center font-bold tracking-wide mb-4 text-violet-950"
    >Elixirland</h1>
    <p class="text-2xl text-center text-violet-950">Compact Elixir challenges with idiomatic example solutions</p>
  </heading>
</section>
